/* country-list.component.css */

.country-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .country-item {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
  }
  
  .country-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .country-link:hover {
    color: #007BFF;
  }
  .custom-button {
    margin-top: 20px;
    background-color: #4CAF50; /* Set your preferred background color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #45a049; /* Set your preferred hover color */
  }